.editor_txt {
	font-family: "ו";
	font-size: 12px;
	line-height: 20px;
	color: #000000;
	text-decoration: none;
}
.mouse_over {
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #FFFFFF;
	border-right-color: #333333;
	border-bottom-color: #333333;
	border-left-color: #FFFFFF;
}
.mouse_out {
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
.mouse_click {
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #333333;
	border-right-color: #FFFFFF;
	border-bottom-color: #FFFFFF;
	border-left-color: #333333;
}
.input_txt {
	font-family: "ו";
	font-size: 12px;
	text-decoration: none;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #333333;
	border-right-color: #DDDDDD;
	border-bottom-color: #DDDDDD;
	border-left-color: #333333;
}
.button_styles {
	font-family: "ו";
	font-size: 12px;
	color: #000000;
	text-decoration: none;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #F2F2F2;
	border-right-color: #000000;
	border-bottom-color: #000000;
	border-left-color: #F2F2F2;
	height: 18px;
}
